@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap");
a {
  text-decoration: none;
  font-size: 1.2rem; }
  @media (min-width: 80rem) {
    a {
      font-size: 1.5rem; } }

body {
  margin: 0;
  color: #313131; }

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  color: #313131;
  margin: 0; }

h1 {
  font-size: 2.6rem; }
  @media (min-width: 60rem) {
    h1 {
      font-size: 4.6rem; } }

h2 {
  font-size: 2.6rem; }
  @media (min-width: 80rem) {
    h2 {
      font-size: 3.4rem; } }

h3 {
  font-size: 1.8rem; }
  @media (min-width: 80rem) {
    h3 {
      font-size: 2.6rem; } }

h1, h2 {
  text-transform: uppercase; }

p {
  line-height: 1.7;
  text-align: justify;
  font-size: 1.4rem; }
  @media (min-width: 80rem) {
    p {
      font-size: 1.8rem; } }

li {
  list-style: none; }

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 85%; }
  @media (min-width: 120rem) {
    .wrapper {
      width: 130rem; } }

.display-column-row60 {
  display: flex;
  flex-direction: column; }
  @media (min-width: 60rem) {
    .display-column-row60 {
      flex-direction: row; } }

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem; }

.header__img {
  width: 5rem; }
  @media (min-width: 60rem) {
    .header__img {
      width: 7rem; } }

.header__nav {
  display: flex;
  flex-direction: row;
  gap: 2rem; }
  .header__nav li {
    box-sizing: border-box;
    display: inline-block;
    list-style: outside none none;
    margin: .5rem 1rem;
    padding: .5rem;
    transform: translate(-50%, -50%);
    transition: all .35s ease; }
  .header__nav a {
    color: #313131;
    font-weight: 600;
    padding: .5rem .8rem;
    text-transform: uppercase; }
    @media (min-width: 60rem) {
      .header__nav a {
        padding: 1rem 1.3rem; } }
  .header__nav a::before,
  .header__nav a::after {
    content: '';
    height: 1.4rem;
    opacity: 0;
    position: absolute;
    transition: all .35s ease;
    width: 1.4rem; }
  .header__nav a::before {
    border-right: 0.3rem solid #20c9ac;
    border-top: 0.3rem solid #20c9ac;
    content: '';
    right: 0;
    top: 0;
    transform: translate(-100%, 50%); }
  .header__nav a:after {
    border-bottom: 0.3rem solid #20c9ac;
    border-left: 0.3rem solid #20c9ac;
    bottom: 0;
    content: '';
    left: 0;
    transform: translate(100%, -50%); }
  .header__nav a:hover:before,
  .header__nav a:hover:after {
    transform: translate(0, 0);
    opacity: 1; }
  .header__nav a:hover {
    color: #0e967f; }
