@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;600;700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap');

a {
  text-decoration: none;
  font-size: 1.2rem; }
  @media (min-width: 80rem) {
    a {
      font-size: 1.5rem; } }

body {
  margin: 0;
  color: #dfd7d7;
  background-image: url("./../../img/backgroup.svg");
  background-size: cover; }

html {
  font-size: 10px;
  font-family: 'Lato', sans-serif;
  margin: 0;
  scroll-behavior: smooth;
  background-color: #060607; }

body::-webkit-scrollbar {
  width: .7rem; }

body::-webkit-scrollbar-track {
  background-color: #20c9ac; }

body::-webkit-scrollbar-thumb {
  background-color: #081329;
  border-radius: 1rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
}

