.footer {
    justify-content: flex-end;
    gap: 4rem;
    
}

.footer__share {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;

    i {
        color: $white;
    }
    i:hover {
        color: $blue-hover;
    }
}
