.header {
  background-color: $blue-main;
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: all .3s ease
}

.header-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0 1rem 0;
}
  
.header__img {
  width: 5rem;
  @media (min-width: 60rem) {
    width: 7rem;
  }
}
  
.header__nav {
  display: flex;
  flex-direction: row;
  
  @media (min-width: 60rem) {
    padding-top: 1.5rem;
    gap: 2rem;
  }
    
  li {
    box-sizing: border-box;
    display: inline-block;
    list-style: outside none none;
    margin: .5rem .5rem;
    padding: .5rem;
    transform: translate(-50%, -50%);
    transition: all .35s ease;
  }
  
  a {
    color: $white;
    font-weight: 600;
    padding: .5rem .8rem;
    text-transform: uppercase;
     
    @media (min-width: 60rem) {
      padding: 1rem 1.3rem;   
    }
  }
  a::before,
  a::after {
    content: '';
    height: 1.4rem;
    opacity: 0;
    position: absolute;
    transition: all .35s ease;
    width: 1.4rem;
  }
      
  a::before {
    border-right: .3rem solid $blue-secondary;
    border-top: .3rem solid $blue-secondary;
    content: '';
    right: 0;
    top: 0;
    transform: translate(-100%, 50%);
  }
      
  a:after {
    border-bottom: .3rem solid $blue-secondary;
    border-left: .3rem solid $blue-secondary;
    bottom: 0;
    content: '';
    left: 0;
    transform: translate(100%, -50%)
  }
      
  a:hover:before,
  a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
      
  a:hover {
    color: $blue-hover;
  }
}