.comments {
    position: relative;
}
.comments__wrapper {
    background-color: $blue-secondary;
    padding: 2rem;
    position: absolute;
    z-index: -5;
}

.comments__title {
    position: relative;
    @media (min-width: 50rem) {
        width: 50%;
     }
}

.comments__conten {

    span {
        font-size: $typo-s;
        margin-top: 4rem;
        display: flex;
        justify-content: flex-end;
    }

    @media (min-width: 60rem) {
        padding: 4rem;
        width: 50%;
     }
}

.comments__wrapper {
    align-items: center;
}