.givens {

    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.givens__item-a {
    li {
        font-size: $typo-s;
        line-height: 1.8;
    }
    @media (min-width: 40rem) {
        width: 50%;
    }
}

.givens__item-b {
    @media (min-width: 40rem) {
        align-self: flex-end;
        width: 50%;
    }
}
